#team-members {
    background: linear-gradient(to top, rgb(0, 0, 0), #0e3770ff) no-repeat top center;
    /* color: rgb(14, 55, 112); */
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100vw;
    margin-top: 0;
}

.profile {
    /* background-color: white; */
    /* background: linear-gradient(to top, rgb(0, 0, 0), #0e3770ff) no-repeat top center; */
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 20px;
    background-color: transparent;
    text-decoration: none;

}

h2 {
    /* color: rgb(14, 55, 112); */
    color: white;
    background-color:transparent;
    /* font-family: 'Cormorant' */
    font-family: 'EB Garamond', serif;
}

h4 {
    color: rgb(128, 128, 128);
    background-color:transparent;
    text-align: left;
    font-weight: lighter;
    text-decoration: none;
    font-family: 'Manrope';
}
h4 >b {
    /* color: rgb(14, 55, 112); */
    color: white;
    background-color:transparent;
    font-size: 15pt;
    font-weight:bold;
    text-decoration: none;
}
.profile > img {
    height: 150px;
    width: 150px;
    /* width: auto; */
    border-radius: 50%;
	object-fit: cover;
    /* filter: grayscale(100%); */
	transition: transform .2s ease-in-out;
}
.profile > img:hover {
    transform:scale(1.2, 1.2);
    /* transform:rotate(30deg); */
    /* filter: grayscale(20%); */
}

body {
    background-color: rgb(14, 55, 112);
}