/* #000914, #006494, #ffffff, #bbcde5, #48a9a6 */

#container {
	position: relative;
	top: 0px;
	text-align: center;
	color: black;
	height: 700px;
	background: linear-gradient(to top, #0e377000, #0e3770ff), url(images/index-background.jpeg) no-repeat top center;
}

#pad {
	background-color: transparent;
	height:150px
}

#changetext {
	font-size: 40px;
	background-color: transparent;
	color: white;
	text-justify: center;
}

#volunteer {
	float: top;
	font-size: 20px;
	margin-top: 10px;
	border: 2px;
	border-color: black;
	background-color: white;
	color: black;
	border-radius: 15px;
	padding: 10px 10px
}

#bridgetitle {
	background-color: transparent;
	position: relative;
	font-family:Tahoma, sans-serif;
	/* top: 20px;
	left: 20px; */
	font-size: 30px;
	font-weight: bold
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideimg {
	object-fit: cover;
	width: 300px;
	height: 300px;
	margin: 10px;
}
.slide {
	display: inline-block;
}
/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    margin: auto;
}