/* #000914, #006494, #ffffff, #bbcde5, #48a9a6 */

#container {
	position: relative;
	top: 0px;
	text-align: center;
	color: black;
	height: 800px;
	background: linear-gradient(to top, #0e377000, #0e3770ff), url(images/index-background.jpeg) no-repeat top center;
}

#pad {
	background-color: transparent;
	height:150px
}

#changetext {
	font-size: 40px;
	background-color: transparent;
	color: white;
	text-justify: center;
}

#volunteer {
	float: top;
	font-size: 20px;
	margin-top: 10px;
	border: 2px;
	border-color: black;
	background-color: white;
	color: black;
	border-radius: 15px;
	padding: 10px 10px
}

#bridgetitle {
	background-color: transparent;
	position: relative;
	font-family:Tahoma, sans-serif;
	/* top: 20px;
	left: 20px; */
	font-size: 30px;
	font-weight: bold
}

#dots{
	margin-top: 10px;
	text-align: center;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slide {
	transition: transform .4s ease-in-out;
}

.slideimg {
	object-fit: cover;
	width: 300px;
	height: 300px;
	margin: 20px;
}
/* Slideshow container */
#slideshow {
	width: 75vw;
	height: 450px;
	display: flex;
	align-items: center;
	position: relative;
	margin: auto;
	overflow: hidden;
}
#prev-btn {
	transform: scale(3, 3);
	font-size: 40pt;
	float: left;
	height: 0px;
	margin-left: 30px;
	background-color: rgba(128, 128, 128, 0.5);
	color: rgba(128, 128, 128, 0.5);
}
#next-btn {
	height: 0px;
	font-size: 40pt;
	float: right;
	margin-right: 30px;
	transform: scale(3, 3);
	background-color: rgba(128, 128, 128, 0.5);
	color: rgba(128, 128, 128, 0.5);
}

#mission {
	margin-top: 20px;
}