/* #000914, #006494, #ffffff, #bbcde5, #48a9a6 */




* {
    box-sizing: border-box;
    font-family:Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    /* background-color: rgb(14, 55, 112); */
    /* margin-top: 0; */
    margin-left: 0;
    margin-right: 0;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  background-color: transparent;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

@media screen and (max-width: 790px) {
  #heading_mobile {
      margin-top: 0;
      top: 0%;
      height: 125px;
      background-color: rgb(14, 55, 112);
      padding-bottom: 0;
      text-align: right;
  }
  #heading_desktop {
      display: none;
  }
}

@media screen and (min-width: 791px) {
  #heading_mobile {
      display: none;
  }
  #heading_desktop {
      margin-top: 0;
      height: 100px;
      background-color: rgb(14, 55, 112);
      padding-bottom: 0;
      text-align: right;

  }
}

#burger {
  height:75px;
  margin-top:20px;
  margin-right:40px;
  float:right;
}
#bridge_button {
  height: 100px;
  width: auto;
  float:left;
}


#about, #services, #contacts, #login-button {
  position: relative;
  border: none;
  background-color: transparent;
  color: white;
  padding: 41px 35px;
  top: 0;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  transition-duration: 0.4s;
}

#login-button {
  position: relative;
  height: 100px;
  width: auto;
  float: right;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

#about:hover, #services:hover, #contacts:hover, #login-button:hover {
  background-color: rgb(39, 92, 166);
}

#instagram-button, #email-button, #whatsapp-button {
  height: 60px;
  width: auto;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px
}
#footer {
  float: bottom;
  height: 100px;
  background-color: white;
}
#footer > a {
	color: transparent;
}
