/* #000914, #006494, #ffffff, #bbcde5, #48a9a6 */



* {
  	box-sizing: border-box;
	font-family:Tahoma, sans-serif;
  	font-size: 16px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0
}
body {
  	background-color: #d7e3f3;
}

@media screen and (max-width: 790px) {
	#heading_mobile {
		top: 0%;
		height: 125px;
		background-color: rgb(14, 55, 112);
		padding-bottom: 0;
	}
	#heading_desktop {
		display: none;
	}
}

@media screen and (min-width: 791px) {
	#heading_mobile {
		display: none;
	}
	#heading_desktop {
		top: 0%;
		height: 100px;
		background-color: rgb(14, 55, 112);
		padding-bottom: 0;
	}
}

#burger {
	height:75px;
	margin-top:20px;
	margin-right:40px;
	float:right;
}
#bridge_button {
	height: 100px;
	width: auto;
}

#about, #services, #contacts, #login {
	float: right;
	margin-top: 10px;
	border: none;
	background-color: transparent;
	color: white;
	padding: 30px 40px;
	margin: right 0, left 0;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	margin-right: 5px;
	transition-duration: 0.4s;
}

#about:hover, #services:hover, #contacts:hover, #login:hover {
	background-color: rgb(39, 92, 166);
}

#container {
	position: relative;
	top: 0px;
	text-align: center;
	color: black;
	height: 700px;
	background: linear-gradient(to top, #0e377000, #0e3770ff), url(images/index-background.jpeg) no-repeat top center;
}

#pad {
	height:150px
}
#bridgetitle {
	position: relative;
	font-family:Tahoma, sans-serif;
	top: 20px;
	left: 20px;
	font-size: 30px;
	font-weight: bold
}

#volunteer {
	float: top;
	font-size: 20px;
	margin-top: 10px;
	border: 2px;
	border-color: black;
	background-color: white;
	color: black;
	border-radius: 15px;
	padding: 10px 10px
}

#changetext {
	font-size: 40px;


	color: white;
	text-justify: center;
}

